<div class="row"> 
<img src="/assets/courses_logo.jpg" class="logo">
  <div class="column">
    <div class="course_box">
      <img src="/assets/appetizer.jpg">
      <center class="center_name"><%= @course[0].try(:name) %></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[0].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[0].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">
      <img src="/assets/chicken.jpg">
      <center class="center_name"><%= @course[1].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[1].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[1].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">  
      <img src="/assets/soup.jpg">
      <center class="center_name"><%= @course[2].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[2].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[2].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
  </div>
  <div class="column">
    <div class="course_box">
      <img src="/assets/sinigang.jpg">
      <center class="center_name"><%= @course[3].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[3].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[3].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">
      <img src="/assets/vegetables.jpg">
      <center class="center_name"><%= @course[4].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[4].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[4].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">  
      <img src="/assets/vegetarian.jpg">
      <center class="center_name"><%= @course[5].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[5].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[5].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
  </div>
   <div class="column">
    <div class="course_box">
      <img src="/assets/rice.jpg">
      <center class="center_name"><%= @course[6].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[6].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[6].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">
      <img src="/assets/noodles.jpg">
      <center class="center_name"><%= @course[7].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[7].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[7].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
    <div class="course_box">  
      <img src="/assets/desserts.jpg">
      <center class="center_name"><%= @course[8].try(:name)%></center>
      <%= link_to "Add New Dish", new_dish_path(id: @course[8].try(:id)), class: "btn btn-default"%>
      <%= link_to "Dishes", dish_list_dishes_path(id: @course[8].try(:id)), :method => 'post', class: "btn btn-default"%>
    </div>
  </div>
</div>