<center><h1>Dish Info</h1></center>
<div class="container">
  <%= form_for :dish, url: dishes_path, html: {id: "validate_dish", autocomplete: 'off'} do |f|%>
    <%= f.hidden_field :course_id, :value => params[:id] %>
      <div class="upload-preview">
        <img src="/assets/1.png" style="height:200px;width:200px;" id= "black_cat_img" alt="">
      </div>

    <div>
	     <%= f.file_field :image, class: "file" %>
    </div>
    <div>
      <label>Name</label>
      <%= f.text_field :name, placeholder: "Dish name..", required: true%>
    </div>
    <div>
      <label>Description</label>
      <%= f.text_area :description, placeholder: "Description.."%>
    </div>
    <div>
      <label>Price</label>
      <%= f.text_field :price, placeholder: "0.0", required: true%>
    </div>
    <input type="submit" value="Submit">
  <%end%>
</div>

